---
import Layout from "../layouts/Layout.astro";
import Jumbotron from "../components/Jumbotron.astro";
import CategoryGrid from "../components/CategoryGrid.astro";
import ProductGrid from "../components/ProductGrid.astro";

import { API_URL, getCategoryProducts } from "../services/ecommerce";
import Jumbotron2 from "../components/ui/Jumbotron2.astro";
const gridLimit:number = 5;

let metaTitle = 'Los mejores sacos térmicos de semillas para aplicar frío o calor';
let metaDescription = 'Tu fuente de alivio del dolor: descubre nuestros sacos térmicos de semillas, antifaces y zapatillas térmicas. Encuentra la solución natural para calmar tus dolores y disfruta de la comodidad que necesitas.';

async function getHomePage(){
    let response = await fetch(`${API_URL}/globals/home-page`)
    let data = await response.json()
    return data
}

let homePage = await getHomePage();
let slider = null;
let sections = null;

if(homePage._id){
  if(homePage.seo?.title){
    metaTitle = homePage.seo.title
  }

  if(homePage.seo?.description){
    metaDescription = homePage.seo.Description
  }

  if(homePage.slider?._id){
      slider = homePage.slider
  }

  if(homePage.sections){
    sections = homePage.sections
  }
}

async function getProducts(category:string, limit:number) {
  return await getCategoryProducts(category, { limit });
}

---

<Layout title={metaTitle} description={metaDescription}>
  <main>
    <!-- <Jumbotron
      class="bg-home with-mask bg-position-center"
      title="El Mundo del Saquito"
      desc="Descubre nuestra tienda online de saquitos térmicos elaborados con semillas de trigo, flores y esencias naturales de lavanda. Alivia tus dolencias con calor natural en tan solo unos minutos"
      btnValue="Encuéntranos en ferias"
      btnHref="/encuentranos-en-ferias"
      bgUrl="https://elmundodelsaquito.es/wp-content/uploads/sites/4/2023/09/photo-1568842068488-4c5d327367ea-scaled.webp"
    /> -->

    <Jumbotron2 {slider}></Jumbotron2>

    <div class="container flex-dir-column">

      {sections?.map(async (section:any) => {
        let products = [];

        if (section.get_docs.collectionType === "products") {
          products = await getProducts(section?.get_docs?.['product-categories'], gridLimit);
        }

        return (
          <section>
            <div class="d-block">
              <h2 class="d-block-title">{section.title}</h2>
              {section.subtitle_link ?
                <a href={section.subtitle_link}
                  class="font-weight-bold"
                  style="text-decoration: none; font-weight: 500; color: #757575">
                  {section.subtitle}
                </a>
                : 
                <span
                  class="font-weight-bold"
                  style="text-decoration: none; font-weight: 500; color: #757575">
                  {section.subtitle}
                </span>
              }
            </div>

            { section.get_docs.collectionType === "product-categories" &&
              <CategoryGrid></CategoryGrid>            
            }

            { section.get_docs.collectionType === "products" &&
              <ProductGrid products={products}></ProductGrid>
            }
          </section>
        );
      })}

    </div>
  </main>
</Layout>