---
import Layout from "../layouts/Layout.astro";
import Jumbotron from "../components/Jumbotron.astro";
import CategoryGrid from "../components/CategoryGrid.astro";
import ProductGrid from "../components/ProductGrid.astro";

import { API_URL, getCategoryProducts } from "../services/ecommerce";
import Jumbotron2 from "../components/ui/Jumbotron2.astro";
const gridLimit:number = 5;

const zapatillasTermicas = await getCategoryProducts('zapatillas-termicas', {limit: gridLimit});
const sacosTermicos = await getCategoryProducts('sacos-termicos', {limit: gridLimit});
const antifacesRelajantes = await getCategoryProducts('antifaces-relajantes', {limit: gridLimit});
const sacosTermicosMedianos = await getCategoryProducts('sacos-termicos-medianos', {limit: gridLimit});

let metaTitle = 'Los mejores sacos térmicos de semillas para aplicar frío o calor';
let metaDescription = 'Tu fuente de alivio del dolor: descubre nuestros sacos térmicos de semillas, antifaces y zapatillas térmicas. Encuentra la solución natural para calmar tus dolores y disfruta de la comodidad que necesitas.';

async function getHomePage(){
    let response = await fetch(`${API_URL}/globals/home-page`)
    let data = await response.json()
    return data
}

let homePage = await getHomePage();
let slider = null;

if(homePage._id){
  if(homePage?.seo?.title){
    metaTitle = homePage.seo.title
  }

  if(homePage?.seo?.description){
    metaDescription = homePage.seo.Description
  }

  if(homePage.slider?._id){
      slider = homePage.slider
  }
}

---

<Layout title={metaTitle} description={metaDescription}>
  <main>
    <!-- <Jumbotron
      class="bg-home with-mask bg-position-center"
      title="El Mundo del Saquito"
      desc="Descubre nuestra tienda online de saquitos térmicos elaborados con semillas de trigo, flores y esencias naturales de lavanda. Alivia tus dolencias con calor natural en tan solo unos minutos"
      btnValue="Encuéntranos en ferias"
      btnHref="/encuentranos-en-ferias"
      bgUrl="https://elmundodelsaquito.es/wp-content/uploads/sites/4/2023/09/photo-1568842068488-4c5d327367ea-scaled.webp"
    /> -->

    <Jumbotron2 {slider}></Jumbotron2>

    <div class="container flex-dir-column">
      <section>
        <div class="d-block">
          <h2 class="d-block-title">Nuestros productos</h2>
          <span
            class="font-weight-bold"
            style="text-decoration: none; font-weight: 500; color: #757575">
            Encuentra productos de las siguientes categorías:
		      </span>
        </div>

        <CategoryGrid></CategoryGrid>
      </section>

      <section>
        <div class="d-block">
          <h2 class="d-block-title">Zapatillas térmicas de semillas</h2>
          <a
            class="text-dark font-weight-bold"
            href="/zapatillas-termicas"
            style="text-decoration: none; font-weight: 500; color: #757575"
            >Ver todas las zapatillas &gt;</a
          >
        </div>

		    <ProductGrid class={'transparent-pictures'} products={zapatillasTermicas}></ProductGrid>
      </section>

      <section>
        <div class="d-block">
          <h2 class="d-block-title">Sacos térmicos de semillas</h2>
          <a
            class="text-dark font-weight-bold"
            href="/sacos-termicos"
            style="text-decoration: none; font-weight: 500; color: #757575"
            >Ver todos los sacos térmicos &gt;</a
          >
        </div>

		    <ProductGrid products={sacosTermicos}></ProductGrid>
      </section>

      <section>
        <div class="d-block">
          <h2 class="d-block-title">Antifaces relajantes de semillas</h2>
          <a
            class="text-dark font-weight-bold"
            href="/antifaces-relajantes"
            style="text-decoration: none; font-weight: 500; color: #757575"
            >Ver todos los antifaces &gt;</a
          >
        </div>

		    <ProductGrid products={antifacesRelajantes}></ProductGrid>
      </section>


    </div>
  </main>
</Layout>